name: Mokosh CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:        
        example: [examples/LoggingBasic/LoggingBasic.ino, examples/ErrorBasic/ErrorBasic.ino, examples/IntervalBasic/IntervalBasic.ino, examples/WifiMqtt/WifiMqtt.ino, examples/MqttSubscribe/MqttSubscribe.ino, examples/MDNSService/MDNSService.ino]

    steps:
    - uses: actions/checkout@v6
    - name: Cache pip
      uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Cache PlatformIO
      uses: actions/cache@v4
      with:
        path: ~/.platformio
        key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}

    - name: Set up Python
      uses: actions/setup-python@v5

    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio

    - name: Install library dependencies
      run: | 
        pio pkg install -g -l bblanchon/ArduinoJson@^6.21.5        
        pio pkg install -g -l hmueller01/PubSubClient3@3.1.0
        pio pkg install -g -l sstaub/TickTwo@4.4.0

    - name: Run PlatformIO
      run: pio ci --lib="." --board=nodemcuv2 --board=esp-wrover-kit --board=esp32dev
      #  --board=pico --board=adafruit_feather_nrf52832
      env:
        PLATFORMIO_CI_SRC: ${{ matrix.example }}